.foto-perfil img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    display: flex;
    justify-content: right;
    padding: 10px;

header {
    background-color: #42e905;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 25px;
}
}
footer {
    background-color: #42e905;
    padding: 5px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}